@{
    ViewBag.Title = "About";
}
<h2>О приложении :</h2>

<p>Данной приложение используется для поиска работы в It-сфере</p>
<p>В современном мире все большее значение приходит на IT сферу, соответственно все больше и больше людей 
    изучает различные языки программирования и технологии. Данную категорию людей нужно обеспечивать работой. 
    Приложение "ITsearch" облегчит поиск работы в данной сфере. Так же приложение могут использовать и работодатели , 
    которым необходимо нанять новый персонал.</p>
