
@{
    ViewBag.Title = "Резюме";
}

<h2> @ViewBag.Name ,Вы создали новое Резюме</h2>

<form method="post" action="Index">   
            <input type="submit" value="Перейти в свой профиль" />
</form>
